
body{
    background-image: url("https://tse1.mm.bing.net/th?id=OIP.DnUn8gpS3GGrI5-M3PqOogHaEo&pid=Api&P=0");
    background-attachment: fixed ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    width: 100%;
    height: 100%;
}.name{
    color: white;
    text-align: center;
    font-size: 48px;
    font-style: italic;
    font-weight: bold;
    text-shadow: 2px 2px 2px  gold;
}#sun{
    color: white;
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px 2px  gold;
}.box{
    box-shadow: inset 0 -3em 3em gold, 0 0 0 2px gold;
    display: flex;
    display: inline-flex;
    justify-content: center; 
    flex-wrap: wrap;
    font-size: 40px;
    padding: 18px;
    text-shadow: 2px 2px 2px  black;
    color: white;
    margin: 15px;
    width: 170px;
border-radius: 28px;    
}.neat{
    color: white;
    text-align: center;
    font-size: 30px;
}.button{
    background-color: black;
    padding: 20px;
    border-color:gold ;
    border: style 30%; ;
    color: white;
    border-radius: 20px;
    font-size: 20px;
    
}